<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5495814268572722"
     crossorigin="anonymous"></script>
    <title>Login Page</title>
    <link rel="shortcut icon" type="image/jpg" href="/static/favicon.ico"/>
    <style>
        body {
            background: #96ff8c;
        }
        .login {
            box-shadow: 0 0 10px 10px rgb(0, 0, 0);
            
        }
        span {
            z-index: 6;
            position: absolute;
  font-size: 20px;
  font-weight: 25px;
  top: 10px;
  left: 71px;
  color: #000000;
        }
        .social {
            text-decoration: none;
            border-radius: 15px;
        }
        .social:hover {
            color:rgb(255, 255, 255);
            opacity: 1;
            box-shadow: 0 0 5px 5px rgb(238, 255, 0);
            
        }
        .social:active {
            background-color: rgb(204, 1, 1)
        }
        .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
        .google {
            opacity: .9;
            z-index: 5;
            position: relative;
            background-color: rgb(248, 0, 0);
            border: none;
            border-radius: 5px;
            padding: 10px 35px;
            font-size: 20px;
            font-weight: bold;
            color: rgb(255, 255, 255);
            text-shadow: 0 0 5px 5px white;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <center>
        <h1 style="color: black">Login Page</h1>
        <br>
        <% if(typeof msg !=='undefined' ) { %>
            <h2 style="color: black">
                <%= msg %>
            </h2>
            <% } %>
        <br>
        <br>
        <br>
        <br>
        <h3 style="color: black">Please login. If you don't have an account, please <a href="/signup">sign up</a>!</h3>
            
        <br>
        <br>
        <a class="google social noselect" href="/social/google">
            <img width="25px" style="margin-bottom: -4px; margin-right: 5px;" alt="Google sign-in" src="https://www.pngfind.com/pngs/b/34-344426_google-icon-png.png" />

            
            Login with google
            <span>Login with google</span>
        </a>

        <br>
        <br>
        <h2 style="color: black; font-weight: bold;">Or</h2>
        <form method="post" action="/login">
            <input class="login" required placeholder="Username" type="username" name="username">
            <br>
            <br>
            <input class="login" required placeholder="Password" type="password" name="password">
            <br>
            <br>

            <button
                    style="color: black; font-weight: bold; box-shadow: 0px 0px 25px 0px #000000; border-radius: 7px; stroke-width: 0px; padding: 10px 20px; background-color: grey;" type="submit">Submit</button>
        </form>
        <br>
        <br>
        <br>
        <hr>
        <h4 style="color: #000000;">Exit here</h4>
        <a href="/">
            <button style="color: black; font-weight: bold; box-shadow: 0px 0px 15px 0px #000000; border-radius: 7px; stroke-width: 0px; padding: 20px 50px; background-color: grey;">Back</button>
        </a>
    </center>
</body>