<head>
    <title>Password Reset</title>
    <link rel="shortcut icon" type="image/jpg" href="/static/favicon.ico"/>
    <style>
        body {
            background: #96ff8c;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <center>
        <h1 style="color: #000000;">Password Reset</h1>
        <h2 style="color: #000000;">You are currently logged in as <%= user %>.</h2>

        <br>
        <br>
        <% if(typeof msg !=='undefined' ) { %>
            <h2 style="color: black">
                <%= msg %>
            </h2>
            <% } %>
        <br>
        <br>
        <br>
        <form action="/password-reset" method="post">
        <input required type="password" name="currentpassword" placeholder="Enter your current password">
        <br>
        <br>
        <input required type="password" name="newpassword" placeholder="Enter your new password">
        <br>
        <br>
        <input required type="password" name="confirmpassword" placeholder="Confirm your password">
        <br>
        <br>

        <button type="submit" style="color: black; font-weight: bold; box-shadow: 0px 0px 15px 0px #000000; border-radius: 7px; stroke-width: 0px; padding: 20px 50px; background-color: grey;">Reset Password</button>
        </form>
        <br>
        <br>
        <br>
        <hr>
        <h4 style="color: #000000;">Exit here</h4>
        <a href="/admin">
            <button style="color: black; font-weight: bold; box-shadow: 0px 0px 15px 0px #000000; border-radius: 7px; stroke-width: 0px; padding: 20px 50px; background-color: grey;">Back</button>
        </a>    
    </center>
</body>