<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5495814268572722"
     crossorigin="anonymous"></script>
    <title>Rules</title>
    <link rel="shortcut icon" type="image/jpg" href="/static/favicon.ico" />
    <style>
      body {
        background: #96ff8c;
      }
      p {
        color: black;
        font-size: 15px;
      }
      li {
          font-size: 25px
      }
      h1, h2, h3, h4, h5, h6, li {
        color: rgb(0, 0, 0);
      }
      hr {
        
        padding: 10px;
        background-color: black;
      }
      article {
        border-radius: 15px; background-color: rgb(255, 217, 0);
      border: 5px solid black;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      <center>
    <h1>Rules</h1>
    <h2>By creating an account, you automatically accepted the rules.</h2>
    <br>
    <br>
    <br>
    <ol>
        <li>Please use kind words :)</li>
        <li>Please respect yourself, the website, and others.</li>
        <li>Please be honest :)</li>
        <li>Please report all bugs / errors / exploits</li>
        <li>Please don't brag</li>
        <li>Please do not abuse bugs / errors / exploits</li>
        <li>Please don't spam</li>
        <li>Please follow other rules that aren't listed :)</li>
    </ol>
    <br>
    <br>
    <br>
    <hr>
    <h4 style="color: #000000;">Exit here</h4>
    <a href="/">
        <button style="color: black; font-weight: bold; box-shadow: 0px 0px 15px 0px #000000; border-radius: 7px; stroke-width: 0px; padding: 20px 50px; background-color: grey;">Back</button>
    </a>
</center>
  </body>